* {
    margin: 0;
    padding: 0;
}

:root {
    --color-text-black: #2F303A;
    --color-acent: #2196f3;
    --color-whitegray: #757575;
    --color-black: #212121;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 32px 0 32px 0;
}

.navigation-list {
    list-style: none;
}

.navigation-item:not(:last-child) {
    margin-right: 55px;
}

.navigation-item {
    font-weight: 500;
}

.icon-mail {
    padding-right: 10px;
}

.icon-tel {
    padding-right: 10px;
}

.navigation-item:nth-child(4) {
    padding-right: 100px;
}

.navigation-link {
    color: black;
    text-decoration: none;
}

.navigation-link_active {
    color: var(--color-acent);
}

.navigation-link {
    position: relative;
    padding-bottom: 10px;
}

.navigation-link_active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color-acent);
    bottom: 0;
    left: 0;
}

.navigation-link:hover {
    color: var(--color-acent);
}

.solution {
    margin: 0 auto;
    font-weight: 900;
}

.solution .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution-text {
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 900;
    color: white;
    font-size: 44px;
    text-align: center;
}

.solution-button {
    font-weight: 700;
    background-color: var(--color-acent);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 15px 32px;
}

.figure {
    width: 270px;
}

.info {
    padding: 94px 0;
    font-size: 14px;
}

.info-title {
    font-weight: 700;
    color: #212121;
    line-height: 120%;
    margin-bottom: 10px;
}

.info-text {
    font-weight: 400;
    color: #757575;
    line-height: 24px;
}

.activity-title {
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}

.ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-content: center;
}

.team {
    font-weight: 700;
    padding: 94px 0;
}

.team-title {
    padding-bottom: 50px;
    text-align: center;
}

.ul1 {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.figure1 {
    box-shadow: 0px 1px 6px 0px #0000005b;
    border-radius: 0 0 4px 4px;
}

.figure2 {
    box-shadow: 0px 1px 6px 0px #0000005b;
    border-radius: 0 0 4px 4px;
}

.figure3 {
    box-shadow: 0px 1px 6px 0px #0000005b;
    border-radius: 0 0 4px 4px;
}

.figure4 {
    box-shadow: 0px 1px 6px 0px #0000005b;
    border-radius: 0 0 4px 4px;
}

.figure1-name {
    font-weight: 500;
    color: #212121;
    margin: 10px 0;
    text-align: center;
    line-height: 18px;
    padding-top: 15px;
}

.figure1-text {
    font-weight: 400;
    color: #757575;
    line-height: 10%;
    text-align: center;
    line-height: 18px;
    padding-bottom: 30px;
}

.figure2-name {
    font-weight: 500;
    color: #212121;
    margin: 10px 0;
    text-align: center;
    line-height: 18px;
    padding-top: 15px;
}

.figure2-text {
    font-weight: 400;
    color: #757575;
    line-height: 10%;
    text-align: center;
    line-height: 18px;
    padding-bottom: 30px;
}


.figure3-name {
    font-weight: 500;
    color: #212121;
    margin: 10px 0;
    text-align: center;
    line-height: 18px;
    padding-top: 15px;
}

.figure3-text {
    font-weight: 400;
    color: #757575;
    line-height: 10%;
    text-align: center;
    line-height: 18px;
    padding-bottom: 30px;
}

.figure4-name {
    font-weight: 500;
    color: #212121;
    margin: 10px 0;
    text-align: center;
    line-height: 18px;
    padding-top: 15px;
}

.figure4-text {
    font-weight: 400;
    color: #757575;
    line-height: 10%;
    text-align: center;
    line-height: 18px;
    padding-bottom: 30px;
}

.footer .container{
    display: flex;
}

.footer{
    background-color: #2F303A;
    padding: 80px 0;
}

.footer-a {
    color: white;
    font-weight: 400;
    line-height: 200%;
    margin-top: 10px;
}

.footer-ab {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    line-height: 80%;
    margin: 15px 0
}

.footer-ab1 {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    line-height: 80%;
}

.footer-tel {
    color: #757575;
    list-style: none;
    text-decoration: none;
}

.footer-tel:hover {
    color: #2196f3;
}

.footer-mail:hover {
    color: #2196f3;
}


.footer-mail {
    color: #757575;
    list-style: none;
    text-decoration: none;
}

.div-photo1 {
    display: flex;
    justify-content: space-between;
}

.div-photo2 {
    display: flex;
    justify-content: space-between;
}

.shadow-box {
    box-shadow: inset;
}

.solution {
    background-image: url("./webstudiophoto/imgseven.jpg");
    padding: 200px 0;
}

.figure:nth-child(1):before {
    display: block;

    background-color: #F5F4FA;
    content: url(./webstudiophoto/antenna.png);
    padding: 25px 110px;
    margin-bottom: 25px;
}

.figure:nth-child(2):before {
    display: block;
    background-color: #F5F4FA;
    content: url(./webstudiophoto/clock.png);
    padding: 25px 110px;
    margin-bottom: 25px;
}


.figure:nth-child(3):before {
    display: block;
    background-color: #F5F4FA;
    content: url(./webstudiophoto/diagram.png);
    padding: 25px 110px;
    margin-bottom: 25px;
}

.figure:nth-child(4):before {
    display: block;
    background-color: #F5F4FA;
    content: url(./webstudiophoto/astronaut.png);
    padding: 25px 110px;
    margin-bottom: 25px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.icon-link {
    text-decoration: none;
    color: #AFB1B8;
    border-radius: 50%;
}

.icon-fonts:hover {
    color: white;
}

.icon-fonts{
    font-size: 19px;
}

.clients-text {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #212121;
}

.clients-social .container{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.clients-social{
    margin: 50px 0 94px 0;
}

.clients-icon {
    display: inline-block;
    font-size: 40px;
    padding: 26px 46px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 3px;
    font-size: 45px;
}

.clients-icon:hover {
    color: #2196F3;
    border-color: #2196F3;
}

.clients-link {
    text-decoration: none;
}

.icon-link {
    display: inline-block;
    color: #AFB1B8;
    text-decoration: none;
    padding: 10px;
}

.icon-link:hover {
    color: #ffffff;
    background-color: var(--color-acent);
}

.icon-link-footer {
    display: inline-block;
    color: #AFB1B8;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.089);
}

.icon-link-footer:hover {
    color: #ffffff;
    background-color: var(--color-acent);
}

.footer-links{
    margin-left: 70px;
}

.footer-links-text{
    font-weight: 700;
    font-size: 14px;
    color: #ffffffd0;
    line-height: 16px;
    margin-bottom: 20px;
}

.icon-fonts-link{
    font-size: 20px;
}

.icon-link-footer:not(:last-child){
    margin-right: 5px;
}

.team{
    background-color: #F5F4FA;
}

